* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*--------------
variablesDeColor
----------------*/
/*--------------
    mixin
----------------*/
/*--------------
    MAPAS 
----------------*/
/*------------------------------------------------------------------------------------------------------------
                                           mobileFirts Iniciosmartphone
-------------------------------------------------------------------------------------------------------------*/
/*inicioMediaQueries*/
@media (max-width: 548px) {
  /*inicioBody*/
  .bodyIndex {
    width: 95%;
    height: 100vh;
    background-image: url(../img/bodyPhone.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*-------------------
     estructuraConGrid
  ---------------------*/
  #gridAreas {
    display: grid;
    grid-template-areas: "menu cabeza lateral" "hero hero lateral" "hero hero lateral" "carrusel carrusel carrusel" "carrusel carrusel carrusel" "carrusel carrusel carrusel" "carrusel carrusel carrusel" "pie pie pie";
    grid-template-columns: 35% 45% 20%;
    grid-template-rows: 1fr 2fr 2fr 1fr 1r 3fr 3fr 1fr 1fr;
    /*--------------------
      header
    ----------------------*/
    /*-------------------------
            MenuNavegacion
    ---------------------------*/
    /*-----------------------
          inicioContenido
    ------------------------*/
    /*----------------------------
            finContenido
            inicioLateral
    ------------------------------*/
    /*----------------------------
            finContenido
            inicioCarrusel
    ------------------------------*/
    /*----------------------------
            finCarrusel
            inicioNersLetter
    ------------------------------*/
    /*----------------------------
            finNersLetter
            inicioFotter
    ------------------------------*/
    /*---------------------
           finFooter
    ---------------------*/
  }
  #gridAreas header {
    grid-area: cabeza;
  }
  #gridAreas nav {
    grid-area: menu;
  }
  #gridAreas .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #gridAreas .menu .menuNav ul li a {
    display: block;
    text-decoration: none;
  }
  #gridAreas .menu .menuNav li:hover:before {
    width: 100%;
    height: 1%;
  }
  #gridAreas .menu .menuNav ul li::before {
    content: "";
    height: 6px;
    width: 0%;
    background: #E2A405;
    position: absolute;
    left: 0;
    transition: 0.4s ease-out;
  }
  #gridAreas #hero {
    grid-area: hero;
    width: 100%;
    height: 80%;
    /*tituloIndex*/
  }
  #gridAreas #hero .heroTitle {
    width: 80%;
    height: 65%;
    color: #4D4D4D;
    text-transform: uppercase;
    position: relative;
    left: 25%;
    font-size: 35px;
  }
  #gridAreas #hero .heroSubtitle {
    width: 80%;
    height: 80%;
    color: #4D4D4D;
    position: relative;
    left: 25%;
    font-size: 15px;
  }
  #gridAreas aside {
    grid-area: lateral;
  }
  #gridAreas aside .logoMarcas {
    width: 60%;
    height: 60%;
  }
  #gridAreas aside .LogodeMcarcas {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  #gridAreas aside .userCarrito {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
  }
  #gridAreas .carrusel {
    grid-area: carrusel;
    background-color: whitesmoke;
    width: 116%;
    height: 800px;
    margin-top: 100%;
  }
  #gridAreas .carrusel .d-block {
    width: 100px;
    height: 250px;
  }
  #gridAreas .carrusel #carouselExampleControls {
    margin-left: 8px;
    margin-top: 10%;
    margin-bottom: 3%;
  }
  #gridAreas .carrusel .heroTitleCarruSmarphone {
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding-top: 10%;
    padding-left: 35px;
  }
  #gridAreas .carrusel .heroSubtitleCarruSmarphone {
    padding-left: 40px;
  }
  #gridAreas .newsletter {
    position: relative;
    text-align: center;
  }
  #gridAreas .newsletter .formEmailindex input {
    width: 65%;
    height: 60%;
    margin-top: 65px;
    border-color: transparent;
    background-color: whitesmoke;
    border-bottom: 1px solid #E2A405;
  }
  #gridAreas .newsletter .botonsuscribir {
    width: 65%;
    height: 60%;
    margin-top: 25px;
    background-color: #E2A405;
    border-color: #dadada;
  }
  #gridAreas footer {
    grid-area: pie;
    background-color: #E2A405;
    color: #4D4D4D;
    text-align: center;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
  }
  #gridAreas footer .redes {
    padding-top: 20px;
  }

  /*-------------------
      finBodyIndex
  -------------------*/
  /*-----------------------------
  shopPages&ServiciosSmartphone-
  ------------------------------**/
  .bodyPages {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    /*---------------------------
            inicioContenido
    ----------------------------*/
    /*------------------
        finFormulario
    -------------------*/
    /*incioLateral
    ------------------*/
    /*finLateral*/
  }
  .bodyPages #hero {
    grid-area: hero;
    padding-top: 35%;
    /*----------------
        formulario
    -----------------*/
    /*----------------------
              EXTEND
    -----------------------*/
  }
  .bodyPages #hero .btn {
    background-color: #E2A405;
    font-size: 14px;
    color: black;
  }
  .bodyPages #hero .rowflex0 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bodyPages #hero .rowflex0 .colp {
    margin-top: 45px;
    margin-left: 35px;
  }
  .bodyPages #hero .card-img-top {
    background-color: #dadada;
  }
  .bodyPages #hero .ulti {
    margin-bottom: 100px;
  }
  .bodyPages #hero .titulo {
    width: 40%;
    height: 40%;
    color: #4D4D4D;
    text-transform: uppercase;
  }
  .bodyPages #hero .solicitud {
    font-size: 15px;
  }
  .bodyPages #hero .datos {
    font-size: 10px;
  }
  .bodyPages #hero .tituloServicios {
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 5px;
  }
  .bodyPages #hero .CajaPadreTlf1, .bodyPages #hero .CajaPadreTlf3 {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bodyPages #hero .CajaPadreTlf1 .formDatos input, .bodyPages #hero .CajaPadreTlf3 .formDatos input {
    width: 210px;
    height: 80%;
    border-color: transparent;
    border-bottom: 1px solid #E2A405;
    background-color: whitesmoke;
  }
  .bodyPages #hero .CajaPadreTlf1 .formNom-cel, .bodyPages #hero .CajaPadreTlf3 .formNom-cel, .bodyPages #hero .CajaPadreTlf1 .formEmail-cel, .bodyPages #hero .CajaPadreTlf3 .formEmail-cel, .bodyPages #hero .CajaPadreTlf1 .formTlf-cel, .bodyPages #hero .CajaPadreTlf3 .formTlf-cel, .bodyPages #hero .CajaPadreTlf1 .formDni-cel, .bodyPages #hero .CajaPadreTlf3 .formDni-cel {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .bodyPages #hero .CajaPadreTlf3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 5px;
    text-align: center;
  }
  .bodyPages #hero .enviar {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bodyPages aside {
    grid-area: lateral;
    width: 100%;
    height: 100%;
  }
  .bodyPages aside .userCarritoPages {
    padding-left: 20px;
    padding-top: 20px;
  }
  .bodyPages aside .logoMarcasYBusqueda {
    padding-top: 40%;
  }
  .bodyPages aside .busquedaBuscar {
    width: 170px;
    height: 35px;
    position: relative;
    right: 180px;
    background-color: whitesmoke;
    border-color: #4D4D4D;
  }
  .bodyPages aside .botonBuscar {
    width: 70px;
    height: 35px;
    position: relative;
    right: 185px;
    background-color: #E2A405;
  }
  .bodyPages aside .marcasPadre {
    padding-top: 10px;
    position: relative;
    right: 50px;
  }
  .bodyPages aside .marcasPadre .LogodeMcarcasPages {
    width: 25px;
    height: 25px;
  }
  .bodyPages aside .carritoUser {
    display: flex;
    flex-direction: row;
  }

  /*finBodyPages/*
  /*finMediaQueriesSmarphone*/
}
/*-------------------------------------------------------------------------
                                    tablet
--------------------------------------------------------------------------*/
/*inicioMediaQueriesTablet*/
@media (min-width: 549px) and (max-width: 990px) {
  /*--------------------
          inicioBody
  ---------------------*/
  .bodyIndex {
    width: 100%;
    height: 100vh;
    background-image: url(../img/homemoto.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*--------------------------
        estructuracongrid
  ---------------------------*/
  #gridAreas {
    display: grid;
    grid-template-areas: " menu cabeza lateral" "menu cabeza lateral" "hero hero lateral" "hero hero lateral" "hero hero lateral" "carrusel carrusel carrusel" "carrusel carrusel carrusel" "pie pie pie";
    grid-template-columns: 30% 50% 30%;
    grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr 2fr;
    /*---------------------
              Header
    ------------------------*/
    /*--------------------------
           MenuNavegacion
    -----------------------------*/
    /*-----------------------
             Contenido
    -------------------------*/
    /*------------------------
          Laterales
    ------------------------*/
    /*----------------------------
            finContenido
            inicioCarrusel
    ------------------------------*/
    /*----------------------------
            finCarrusel
            inicioNersLetter
    ------------------------------*/
    /*------------------------------
              finNersLetter
              inicioFooter
    -------------------------------*/
    /*-----------------------
             finFooter
    ------------------------*/
  }
  #gridAreas header {
    grid-area: cabeza;
    position: relative;
    left: 10%;
  }
  #gridAreas nav {
    grid-area: menu;
  }
  #gridAreas nav .menu {
    margin-left: 35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #gridAreas nav .menu .menuNav ul li a {
    display: block;
    text-decoration: none;
  }
  #gridAreas nav .menu .menuNav li:hover:before {
    width: 100%;
    height: 100%;
  }
  #gridAreas nav .menu .menuNav ul li::before {
    content: "";
    height: 6px;
    width: 0%;
    background: #E2A405;
    position: absolute;
    left: 0;
    transition: 0.4s ease-out;
  }
  #gridAreas #hero {
    grid-area: hero;
    width: 100%;
    height: 600px;
    /*tituloIndex*/
  }
  #gridAreas #hero .heroTitle {
    width: 50%;
    height: 15%;
    color: #4D4D4D;
    text-transform: uppercase;
    position: relative;
    left: 13%;
    top: 8%;
  }
  #gridAreas #hero .heroSubtitle {
    width: 50%;
    height: 10%;
    color: #4D4D4D;
    position: relative;
    left: 13%;
    top: 8%;
  }
  #gridAreas aside {
    grid-area: lateral;
  }
  #gridAreas aside .Marcasindex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #gridAreas aside .logoMarcas {
    padding-top: 13%;
  }
  #gridAreas aside .LogodeMcarcas {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  #gridAreas .heroTitleCarru {
    width: 100%;
    height: 10%;
    font-size: 30px;
    padding-top: 2%;
    padding-left: 60px;
  }
  #gridAreas .heroSubtitleCarru {
    padding-left: 80px;
  }
  #gridAreas .carrusel {
    grid-area: carrusel;
    width: 100%;
    height: 1500px;
    background-color: whitesmoke;
  }
  #gridAreas .carrusel .d-block {
    width: 100px;
    height: 450px;
  }
  #gridAreas #carouselExampleControls {
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  #gridAreas .newsletter {
    position: relative;
    text-align: center;
  }
  #gridAreas .formEmailindex input {
    width: 30%;
    height: 10%;
    margin-top: 65px;
    border-color: transparent;
    border-bottom: 1px solid #E2A405;
    background-color: whitesmoke;
  }
  #gridAreas .botonsuscribir {
    width: 20%;
    height: 10%;
    margin-top: 25px;
    background-color: #E2A405;
  }
  #gridAreas footer {
    width: 100%;
    height: 10%;
    grid-area: pie;
    background-color: #E2A405;
    color: #4D4D4D;
    text-align: center;
    position: fixed;
    bottom: 0;
  }
  #gridAreas footer .redes {
    padding-top: 20px;
  }

  /*----------------------------------------------------------------------------------------
                                    shop-Pages-Servicios-Tablet
  ---------------------------------------------------------------------------------------**/
  /*--------------------
      inicoBodyPages
  --------------------*/
  .bodyPages {
    width: 100%;
    height: 170vh;
    background-color: whitesmoke;
    /*------------------------
              contenido
    -------------------------*/
    /*----------------------
              MAPA
    -----------------------*/
    /*-------------------------
               Laterales
    ----------------------------*/
    /*--------------------------------
                 finLateral
               inicioContenido
    -------------------------------------*/
  }
  .bodyPages #hero {
    grid-area: hero;
    padding-top: 100px;
  }
  .bodyPages #hero .col3, .bodyPages #hero .col4 {
    width: 1000px;
    height: 300px;
  }
  .bodyPages #hero .col3 .rowflex3, .bodyPages #hero .col4 .rowflex3, .bodyPages #hero .col4 .rowflex4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .bodyPages #hero .col3 .colp, .bodyPages #hero .col4 .colp {
    margin: 15px;
  }
  .bodyPages #hero .card-img-top {
    width: 100%;
    height: 130px;
    background-color: #dadada;
  }
  .bodyPages #hero .card-body {
    width: 100%;
    height: 100%;
  }
  .bodyPages #hero .botonbtn1 {
    background-color: #E2A405;
    font-size: 14px;
    color: black;
  }
  .bodyPages #hero .botonbtn2 {
    background-color: green;
    font-size: 14px;
    color: black;
  }
  .bodyPages aside {
    grid-area: lateral;
    width: 100%;
    height: 100%;
    /*userCarrito*/
    /*iniciomarcasYBusqueda*/
  }
  .bodyPages aside .userCarritoPages {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .bodyPages aside .marcasPadre {
    position: relative;
    top: 25px;
  }
  .bodyPages aside .marcasPadre .LogodeMcarcasPages {
    width: 30px;
    height: 30px;
  }
  .bodyPages aside .logoMarcasYBusqueda {
    width: 230px;
    height: 50px;
    position: relative;
    left: 110px;
    top: 70px;
    background-color: whitesmoke;
  }
  .bodyPages aside .logoMarcasYBusqueda .buscar {
    width: 200px;
    height: 80%;
  }
  .bodyPages aside .logoMarcasYBusqueda .buscar .busquedaBuscar {
    background-color: whitesmoke;
    border-color: #4D4D4D;
  }
  .bodyPages aside .logoMarcasYBusqueda .buscar .botonBuscar {
    width: 70px;
    height: 100%;
    background-color: #E2A405;
  }
  .bodyPages #hero {
    grid-area: hero;
    padding-top: 100px;
    /*tituloPages*/
  }
  .bodyPages #hero .col-12 {
    margin: 40px;
  }
  .bodyPages #hero .btn {
    background-color: #E2A405;
    font-size: 14px;
    color: black;
  }
  .bodyPages #hero .card-img-top {
    width: 100%;
    height: 120px;
    background-color: #dadada;
  }
  .bodyPages #hero .tituloServicios {
    position: relative;
    left: 3%;
  }
  .bodyPages #hero .tituloPages {
    width: 30%;
    font-size: 25px;
    color: #4D4D4D;
    text-transform: uppercase;
    position: relative;
    padding: 15px;
    margin: 10px;
  }

  /*------------
    formulario
  -------------*/
  /*----------------------
          EXTEND
  -----------------------*/
  .CajaPadreTablet1, .CajaPadreTablet3 {
    width: 100%;
    height: 50%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .formNom-Tablet, .formEmail-Tablet, .formTlf-Tablet, .formDni-Tablet {
    width: 40%;
    height: 30%;
  }

  .formDni-Tablet {
    display: flex;
    flex-direction: column;
  }

  .formTlf-Tablet {
    display: flex;
    flex-direction: column;
  }

  .formDatos input {
    width: 80%;
    height: 30%;
    border-color: transparent;
    border-bottom: 1px solid #E2A405;
    background-color: whitesmoke;
  }

  .CajaPadreTablet3 {
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .enviar {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enviar input {
    background-color: #E2A405;
    width: 30%;
    height: 30%;
  }
}
/*----------------------------------------------------
                      finFormulario
                      finMediaTablet
-----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
                                                       desktop
---------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) {
  /*inicioBody*/
  .bodyIndex {
    width: 100%;
    height: 150vh;
    background-image: url(../img/homemoto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /*---------------------------------
            estructuraConGrid
  -----------------------------------*/
  #gridAreas {
    display: grid;
    grid-template-areas: "cabeza menu lateral" "cabeza menu lateral" "hero hero lateral" "hero hero lateral" "hero hero lateral" "carrusel carrusel carrusel" "carrusel carrusel carrusel" "pie pie pie";
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr 2fr;
    /*header*/
    /*---------------------------------
                menuNavegacion
    ----------------------------------*/
    /*------------------------
          finMenuNavegacion
          incioContenido
    -------------------------*/
    /*tituloIndex*/
    /*---------------------------
            inicioLaterales
    ----------------------------*/
    /*----------------------
        finContenido
        iniciocarrusel
    ----------------------*/
    /*------------------------------
              finCarrusel
              inicioNewsletter
    ---------------------------------*/
    /*----------------------------
            finNewsletter
              footer
    ------------------------------*/
  }
  #gridAreas header {
    grid-area: cabeza;
    position: relative;
    left: 10%;
  }
  #gridAreas nav {
    grid-area: menu;
  }
  #gridAreas .menu {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #gridAreas .menuNav ul li a {
    display: block;
    text-decoration: none;
  }
  #gridAreas .menuNav li:hover:before {
    width: 100%;
    height: 1px;
  }
  #gridAreas .menuNav ul li::before {
    content: "";
    height: 6px;
    width: 0%;
    background-color: #E2A405;
    position: absolute;
    left: 0;
    transition: 0.4s ease-out;
  }
  #gridAreas #hero {
    grid-area: hero;
    width: 100%;
    height: 900px;
  }
  #gridAreas .heroTitle {
    width: 50%;
    color: #4D4D4D;
    text-transform: uppercase;
    position: relative;
    left: 13%;
    top: 8%;
  }
  #gridAreas .heroSubtitle {
    width: 50%;
    height: 10%;
    color: #4D4D4D;
    position: relative;
    left: 13%;
    top: 8%;
  }
  #gridAreas aside {
    grid-area: lateral;
  }
  #gridAreas .Marcasindex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #gridAreas .logoMarcas {
    padding-top: 13%;
  }
  #gridAreas .LogodeMcarcas {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  #gridAreas .heroTitleCarru {
    width: 100%;
    height: 10%;
    font-size: 30px;
    padding-top: 2%;
    padding-left: 60px;
  }
  #gridAreas .heroSubtitleCarru {
    padding-left: 80px;
  }
  #gridAreas .carrusel {
    width: 100%;
    height: 1500px;
    grid-area: carrusel;
    background-color: whitesmoke;
  }
  #gridAreas .carrusel .d-block {
    width: 200px;
    height: 650px;
  }
  #gridAreas #carouselExampleControls {
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  #gridAreas .newsletter {
    position: relative;
    text-align: center;
  }
  #gridAreas .formEmailindex input {
    width: 40%;
    height: 10%;
    margin-top: 65px;
    border-color: transparent;
    border-bottom: 1px solid #E2A405;
    background-color: whitesmoke;
  }
  #gridAreas .botonsuscribir {
    width: 20%;
    height: 10%;
    margin-top: 25px;
    background-color: #E2A405;
  }
  #gridAreas footer {
    grid-area: pie;
    background-color: #E2A405;
    color: #4D4D4D;
    text-align: center;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
  }
  #gridAreas footer .redes {
    padding-top: 20px;
  }

  /*--------------------------------------------------------------------
                          shopPages----pagesServicios
  -------------------------------------------------------------------**/
  /*-------------------
          body
  -------------------*/
  .bodyPages {
    width: 100%;
    height: 170vh;
    background-color: whitesmoke;
    /*------------------------
              contenido
    -------------------------*/
    /*----------------------
              MAPA
    -----------------------*/
    /*--------------------------
            finFormulario
    ---------------------------*/
    /*-------------------------
           inicioLaterales
    -------------------------*/
    /*finLateral/*
    /*finBodyPages*/
  }
  .bodyPages #hero {
    grid-area: hero;
    padding-top: 100px;
    /*titulo*/
    /*----------------------
          formulario
    -----------------------*/
    /*----------------------
              EXTEND
    -----------------------*/
  }
  .bodyPages #hero .col1, .bodyPages #hero .col2 {
    width: 1000px;
    height: 300px;
  }
  .bodyPages #hero .col1 .rowflex, .bodyPages #hero .col2 .rowflex, .bodyPages #hero .col2 .rowflex2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .bodyPages #hero .col1 .colp, .bodyPages #hero .col2 .colp {
    margin: 15px;
  }
  .bodyPages #hero .card-img-top {
    width: 100%;
    height: 130px;
    background-color: #dadada;
  }
  .bodyPages #hero .card-body {
    width: 100%;
    height: 100%;
  }
  .bodyPages #hero .botonbtn1 {
    background-color: #E2A405;
    font-size: 14px;
    color: black;
  }
  .bodyPages #hero .botonbtn2 {
    background-color: green;
    font-size: 14px;
    color: black;
  }
  .bodyPages #hero .tituloServicios {
    position: relative;
    left: 3%;
  }
  .bodyPages #hero .tituloPages {
    width: 30%;
    height: 10%;
    font-size: 25px;
    color: #4D4D4D;
    text-transform: uppercase;
    position: relative;
    padding: 15px;
    margin: 10px;
  }
  .bodyPages #hero .CajaPadre1, .bodyPages #hero .CajaPadre3 {
    width: 100%;
    height: 50%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .bodyPages #hero .form-Nombre, .bodyPages #hero .form-Email, .bodyPages #hero .form-Tlf, .bodyPages #hero .form-Dni {
    width: 40%;
    height: 30%;
  }
  .bodyPages #hero .form-Dni {
    display: flex;
    flex-direction: column;
  }
  .bodyPages #hero .form-Tlf {
    display: flex;
    flex-direction: column;
  }
  .bodyPages #hero .formDatos input {
    width: 80%;
    height: 30%;
    border-color: transparent;
    border-bottom: 1px solid #E2A405;
    background-color: whitesmoke;
  }
  .bodyPages #hero .CajaPadre3 {
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .bodyPages #hero .enviar {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bodyPages #hero .enviar input {
    background-color: #E2A405;
    width: 30%;
    height: 30%;
  }
  .bodyPages aside {
    grid-area: lateral;
    width: 100%;
    height: 30%;
    /*userCarrito*/
    /*iniciomarcasYBusqueda*/
  }
  .bodyPages aside .userCarritoPages {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .bodyPages aside .marcasPadre {
    position: relative;
    top: 25px;
  }
  .bodyPages aside .marcasPadre .LogodeMcarcasPages {
    width: 30px;
    height: 30px;
  }
  .bodyPages aside .logoMarcasYBusqueda {
    width: 230px;
    height: 50px;
    position: relative;
    left: 110px;
    top: 70px;
    background-color: whitesmoke;
  }
  .bodyPages aside .logoMarcasYBusqueda .buscar {
    width: 200px;
    height: 80%;
  }
  .bodyPages aside .logoMarcasYBusqueda .buscar .busquedaBuscar {
    background-color: whitesmoke;
    border-color: #4D4D4D;
  }
  .bodyPages aside .logoMarcasYBusqueda .buscar .botonBuscar {
    width: 70px;
    height: 100%;
    background-color: #E2A405;
  }
}
/*finmediaQueriesDesktop*/

/*# sourceMappingURL=main.css.map */
