* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*--------------
variablesDeColor
----------------*/
$color1:#E2A405;
$color2:#4D4D4D;
$color3:whitesmoke;
$color4:#dadada;

/*--------------
    mixin
----------------*/
@mixin tamanio ($alto,$ancho){ 
  width: $alto;
  height: $ancho;
}
/*--------------
    MAPAS 
----------------*/
$mapas: (
  btn1  : $color1,
  btn2  : green
);


/*------------------------------------------------------------------------------------------------------------
                                           mobileFirts Iniciosmartphone
-------------------------------------------------------------------------------------------------------------*/
/*inicioMediaQueries*/
@media (max-width : 475px)
{
 /*inicioBody*/
 
 .bodyIndex{
  @include tamanio(95%,100vh);
    background-image: url(../img/bodyPhone.jpeg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
 /*-------------------
    estructuraConGrid
 ---------------------*/
 #gridAreas{
  display: grid;
    grid-template-areas:"menu cabeza lateral"
    "menu cabeza lateral"
     "hero hero lateral"
     "hero hero lateral"
     "carrusel carrusel carrusel"
     "carrusel carrusel carrusel"
     "carrusel carrusel carrusel"
     "carrusel carrusel carrusel"
     "pie pie pie";
     ;grid-template-columns: 25% 50% 20%;
     ;grid-template-rows: 1fr 2fr 2fr 1fr 1r 3fr 3fr 1fr 1fr;

     /*--------------------
       header
     ----------------------*/
     header{
        grid-area: cabeza;
       }
/*-------------------------
        MenuNavegacion
---------------------------*/
    nav{
        grid-area: menu;
    }
        .menu{
            display: flex;
            flex-direction: row;
          align-items: flex-start;
          .menuNav ul li a {
            display: block;
        text-decoration: none;
           }
           .menuNav li:hover:before {
            @include tamanio(100%,1%);
            
            } 
            .menuNav ul li::before {
                content:"";
                height: 6px;
                width:0%;
                background: $color1;
                position: absolute;
                left: 0;
                transition: 0.4s ease-out;
                   }
                 }
                 
/*-----------------------
      inicioContenido
------------------------*/
#hero{
    grid-area: hero;
    @include tamanio(100%, 80%);
/*tituloIndex*/
.heroTitle {
  @include tamanio(80%,65%);
    color: $color2;;
    text-transform: uppercase;
   position: relative;
   left: 25%;
   font-size: 35px; 
}

.heroSubtitle {
  @include tamanio(80%,80%);
     color: $color2;;
    position: relative;
    left: 25%;
    font-size: 15px;
     }
 }
/*----------------------------
        finContenido
        inicioLateral
------------------------------*/
aside{
    grid-area: lateral;
    .logoMarcas{
      @include tamanio(60%,60%);
    }
    .LogodeMcarcas{
      @include tamanio(50px,50px);
        padding: 5px;
    }
     .userCarrito{
        display: flex;
        flex-direction: row;
        padding-left: 40px;
    }  
}
/*----------------------------
        finContenido
        inicioCarrusel
------------------------------*/
.carrusel{
    grid-area: carrusel;
background-color: $color3;
@include tamanio(116%,800px);
margin-top: 100%;
#carouselExampleControls{
    margin-left: 8px;
    margin-top: 10%;
    margin-bottom: 3%;
        }
    .heroTitleCarruSmarphone{
      @include tamanio(100%,100%);
        font-size: 30px;
        padding-top:10%;
        padding-left: 35px;
    }
    .heroSubtitleCarruSmarphone{
    padding-left: 40px;
    }
    }
/*----------------------------
        finCarrusel
        inicioNersLetter
------------------------------*/
.newsletter{
    position: relative;
    text-align: center;
    .formEmailindex input {
       @include tamanio(65%,60%);
       margin-top:65px;
        border-color: transparent,;
        background-color: $color3;
      border-bottom: 1px solid $color1;
       }
    .botonsuscribir{
      @include tamanio(65%,60%);
         margin-top:25px;
         background-color: $color1;
         border-color: $color4;
  
     }
   }
/*----------------------------
        finNersLetter
        inicioFotter
------------------------------*/
 footer {
    grid-area: pie;
    background-color:$color1;
    color:  $color2;
    text-align: center;
    @include tamanio(100%,10%);
    position: fixed;
    bottom: 0;
    .redes{
      padding-top: 20px;
    }
    
}
 /*---------------------
        finFooter
 ---------------------*/
}
/*-------------------
    finBodyIndex
-------------------*/
/*-----------------------------
shopPages&ServiciosSmartphone-
------------------------------**/
.bodyPages{
  @include tamanio(100%,150vh);
  background-color: $color3;

/*---------------------------
        inicioContenido
----------------------------*/
#hero {
    grid-area: hero;
    padding-top: 35%;
    .btn{
        background-color: $color1;
        font-size: 14px;
        color: black;
    }
    .card-img-top{
    background-color: $color4;
    }
    .titulo{
      @include tamanio(40%,40%);
        color: $color2;;
    text-transform: uppercase;
    }



/*----------------
    formulario
-----------------*/
.solicitud{
    font-size: 15px;
}
.datos{
    font-size: 10px;
}
.tituloServicios{
padding: 10px;
margin: 10px; 
position: relative;
left: 5px;
}

/*----------------------
          EXTEND
-----------------------*/

.CajaPadreTlf1{
@include tamanio(100%,100%);
padding: 5px;
margin: 5px; 
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;

    .formDatos input{
      @include tamanio(210px,80%);
    border-color: transparent;
    border-bottom: 1px solid $color1;
    background-color: $color3;
    }
        .formNom-cel {
          padding: 5px;
          margin: 10px;
          display: flex;
          flex-direction: column
          }
}

.formDni-cel{
       @extend .formNom-cel;
      
    }
    .formTlf-cel {
      @extend .formNom-cel;
    
    }
    .formEmail-cel {
      @extend .formNom-cel;
  
    }

  
.CajaPadreTlf3{
@extend .CajaPadreTlf1;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: flex-start;
padding-left: 5px;
text-align: center
}


.enviar{
@include tamanio(100%,100%);
padding-top: 50px;
display: flex;
flex-direction: column;
align-items: center;
}
}
/*------------------
    finFormulario
-------------------*/
 /*incioLateral
 ------------------*/
 
   aside {
    grid-area: lateral;
    @include tamanio(100%,100%);
     .userCarritoPages{
        padding-left: 20px;
        padding-top: 20px;
    }
    .logoMarcasYBusqueda{
        padding-top: 40%;
    }
    .busquedaBuscar{
      @include tamanio(170px,35px);
       position: relative;
         right: 180px;
         background-color: $color3;
         border-color: $color2
      
    }
    .botonBuscar{
      @include tamanio(70px,35px);
        position: relative;
          right: 185px;
          background-color: $color1;
    }
    .marcasPadre{
        padding-top: 10px;
        position: relative;
        right: 50px;
        .LogodeMcarcasPages{
          @include tamanio(25px,25px);
        }
    }
     .carritoUser{
         display: flex;
         flex-direction: row;
         }
         }
     /*finLateral*/
    }
    /*finBodyPages/*
/*finMediaQueriesSmarphone*/
}
/*-------------------------------------------------------------------------
                                    tablet
--------------------------------------------------------------------------*/
/*inicioMediaQueriesTablet*/
@media ( min-width :476px) and ( max-width :990px) 
{
/*--------------------
        inicioBody
---------------------*/
.bodyIndex{
  @include tamanio(100%,100vh);
    background-image:url(../img/homemoto.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*--------------------------
      estructuracongrid
---------------------------*/
#gridAreas{
    display: grid;
       grid-template-areas:" menu cabeza lateral"
        "menu cabeza lateral"
        "hero hero lateral"
        "hero hero lateral"
        "hero hero lateral"
        "carrusel carrusel carrusel"
        "carrusel carrusel carrusel"
        "pie pie pie";
        ;grid-template-columns: 30% 50% 30%;
        ;grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr 2fr;
/*---------------------
          Header
------------------------*/
   header{
    grid-area: cabeza;
   position: relative;
   left: 10%;
}
 /*--------------------------
        MenuNavegacion
 -----------------------------*/
   nav{
    grid-area: menu;
    .menu{
        margin-left: 35%;
        display: flex;
        flex-direction: row;
      align-items: flex-start;   
      .menuNav ul li a {
        display: block;
    text-decoration: none;
       }
       .menuNav li:hover:before {
        @include tamanio(100%,100%);
    }
    .menuNav ul li::before {
        content:"";
        height: 6px;
        width:0%;
        background: $color1;
        position: absolute;
        left: 0;
        transition: 0.4s ease-out;
    }
}
    }

 /*-----------------------
          Contenido
 -------------------------*/
 #hero{
    grid-area: hero;
    @include tamanio(100%,600px);
 /*tituloIndex*/
   .heroTitle {
    @include tamanio(50%,15%);
    color: $color2;;
    text-transform: uppercase;
   position: relative;
   left: 13%;
   top: 8%;
}
.heroSubtitle {
  @include tamanio(50%,10%);
     color:$color2;;
    position: relative;
    left: 13%;
    top: 8%;     
}
}

/*------------------------
      Laterales
------------------------*/
   aside{
    grid-area: lateral;
    .Marcasindex{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .logoMarcas{
        padding-top: 13%;
       }
    .LogodeMcarcas{
      @include tamanio(50px,50px);
        padding: 5px;
    }
}
/*----------------------------
        finContenido
        inicioCarrusel
------------------------------*/
   .heroTitleCarru {
    @include tamanio(100%,10%);
    font-size: 30px;
    padding-top: 2%;
    padding-left: 60px;
  }
  .heroSubtitleCarru {
    padding-left: 80px;
  }
  .carrusel {
    grid-area: carrusel;
    @include tamanio(100%,1500px);
    background-color: $color3;
  }
  #carouselExampleControls {
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 3%;
  }
/*----------------------------
        finCarrusel
        inicioNersLetter
------------------------------*/
  .newsletter {
    position: relative;
    text-align: center;}
    .formEmailindex input {
      @include tamanio(30%,10%);
    margin-top: 65px;
    border-color: transparent;
    border-bottom: 1px solid $color1;
    background-color: $color3;
  }
  .botonsuscribir {
    @include tamanio(20%,10%);
    margin-top: 25px;
   background-color: $color1;
  }
/*------------------------------
          finNersLetter
          inicioFooter
-------------------------------*/
     footer {
      @include tamanio(100%,10%);
        grid-area: pie;
        background-color: $color1;
        color:  $color2;
        text-align: center;
       position: fixed;
        bottom: 0;
        .redes{
          padding-top: 20px;
        }
    }
/*-----------------------
         finFooter
------------------------*/
  
   }
/*----------------------------------------------------------------------------------------
                                  shop-Pages-Servicios-Tablet
---------------------------------------------------------------------------------------**/
/*--------------------
    inicoBodyPages
--------------------*/
.bodyPages{
  @include tamanio(100%,150vh);
    background-color:$color3;
 /*-------------------------
            Laterales
 ----------------------------*/
    aside{
        grid-area: lateral;
        @include tamanio(100%,100%);
     /*userCarrito*/

     .userCarritoPages{
        display: flex;
        flex-direction: row;
      justify-content: center;
    }
    /*iniciomarcasYBusqueda*/
    .LogodeMcarcasPages{
      @include tamanio(30px,30px);
    }
    .logoMarcasYBusqueda{
            padding-top: 10%;
            padding-left: 10px;
            position: relative;
            right: 30%;
            background-color: $color3;
            .buscar{
                  @include tamanio(70%,10%);
                  .busquedaBuscar{
                  background-color: $color3;
                    border-color: $color2;
                  }
                  .botonBuscar{
                    background-color: $color1;
                      }
                  
                }
            }
        .marcasPadre{
          @include tamanio(40%,100%);
                position: relative;
                right: 60%;
                .imgMarcas{
                    position: relative;
                    right: 100%;
                    bottom: 40px;
                }
            }
        }
     /*--------------------------------
                finLateral
              inicioContenido
   -------------------------------------*/
   #hero {
        grid-area: hero;
    padding-top: 100px;
.col-12{
  margin: 40px;
}
.btn{
        background-color: $color1;
        font-size: 14px;
        color: black;
    }
    .card-img-top{
      @include tamanio(100%,120px);
        background-color:$color4;
      
    }
    .tituloServicios{
        position: relative;
        left: 3%;
    }
    /*tituloPages*/
    .tituloPages{
        width: 30%;
        font-size: 25px;
        color:$color2;;
        text-transform: uppercase;
        position: relative;
        padding: 15px;
        margin: 10px;
    }
  }
  }
/*------------
  formulario
-------------*/

/*----------------------
        EXTEND
-----------------------*/

.CajaPadreTablet1{
@include tamanio(100%,50%);
  padding: 10px;
  margin: 10px; 
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: flex-start;
 }
.formNom-Tablet {
@include tamanio(40%,30%);

}
.formDni-Tablet{
@extend .formNom-Tablet;
 display: flex;
       flex-direction: column
 }
 .formTlf-Tablet{
  @extend .formNom-Tablet;
   display: flex;
         flex-direction: column
   }
   .formEmail-Tablet{
    @extend .formNom-Tablet;
    
     }
   
.formDatos input {
@include tamanio(80%,30%);
 border-color: transparent;
border-bottom: 1px solid $color1;
background-color: $color3;
}

.CajaPadreTablet3{
@extend .CajaPadreTablet1;
@include tamanio(100%,30%);
 flex-direction: row;
 justify-content: space-evenly;
 align-items: flex-start;
}
.enviar{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enviar input {
   background-color: $color1;
   @include tamanio(30%,30%);
  }
}
/*----------------------------------------------------
                      finFormulario
                      finMediaTablet
-----------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------
                                                       desktop
---------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px)
{
    /*inicioBody*/
    .bodyIndex {
      @include tamanio(90%,150vh);
      background-image: url(../img/homemoto.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    /*---------------------------------
              estructuraConGrid
    -----------------------------------*/
    #gridAreas {
      display: grid;
      grid-template-areas: "cabeza menu lateral" "cabeza menu lateral" "hero hero lateral" "hero hero lateral" "hero hero lateral" "carrusel carrusel carrusel" "carrusel carrusel carrusel" "pie pie pie";
      grid-template-columns: 30% 50% 30%;
      grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr 2fr;
   /*header*/
   header {
      grid-area: cabeza;
      position: relative;
      left: 10%;
    }
    /*---------------------------------
                menuNavegacion
    ----------------------------------*/
    nav {
      grid-area: menu;
    }
    .menu {
      margin-left: 35%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .menuNav ul li a {
      display: block;
      text-decoration: none;
      
    }
    .menuNav li:hover:before {
      @include tamanio(100%,1px);
      
      
    }
    .menuNav ul li::before {
      content: "";
      height: 6px;
      width: 0%;
     background-color: $color1;
     position: absolute;
      left: 0;
      transition: 0.4s ease-out;
    }
    /*------------------------
          finMenuNavegacion
          incioContenido
    -------------------------*/
    #hero {
      grid-area: hero;
      @include tamanio(100%,900px);
   
    }
    /*tituloIndex*/
    .heroTitle {
      width: 50%;
      color: $color2;
      text-transform: uppercase;
      position: relative;
      left: 13%;
      top: 8%;
    }
    .heroSubtitle {
      @include tamanio(50%,10%);
      color: $color2;
      position: relative;
      left: 13%;
      top: 8%;
    }
    /*---------------------------
            inicioLaterales
    ----------------------------*/
    aside {
      grid-area: lateral;
    }
    .Marcasindex {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .logoMarcas {
      padding-top: 13%;
    }
    .LogodeMcarcas {
      @include tamanio(50px,50px);
      padding: 5px;
    }
    /*----------------------
        finContenido
        iniciocarrusel
    ----------------------*/
    .heroTitleCarru {
      @include tamanio(100%,10%);
      font-size: 30px;
      padding-top: 2%;
      padding-left: 60px;
    }
    .heroSubtitleCarru {
      padding-left: 80px;
    }
    .carrusel {
      @include tamanio(100%,1500px);
      grid-area: carrusel;
      background-color: $color3;
    }
    #carouselExampleControls {
      margin-left: 20px;
      margin-top: 5%;
      margin-bottom: 3%;
    }
     /*------------------------------
              finCarrusel
              inicioNewsletter
    ---------------------------------*/
    .newsletter {
      position: relative;
      text-align: center;}
      .formEmailindex input {
        @include tamanio(40%,10%);
      margin-top: 65px;
      border-color: transparent;
      border-bottom: 1px solid $color1;
      background-color: $color3;
     }
    .botonsuscribir {
      @include tamanio(20%,10%);
      margin-top: 25px;
      background-color: $color1;
    }
    /*----------------------------
            finNewsletter
              footer
    ------------------------------*/
    footer {
      grid-area: pie;
      background-color:$color1;
      color: $color2;
      text-align: center;
      width: 100%;
      height: 10%;
      position: fixed;
      bottom: 0;
      .redes{
        padding-top: 20px;
      }
    }
}
/*--------------------------------------------------------------------
                        shopPages----pagesServicios
-------------------------------------------------------------------**/
    /*-------------------
            body
    -------------------*/
    .bodyPages {
      @include tamanio(100%,100vh);
      background-color: $color3;

  /*------------------------
            contenido
  -------------------------*/

/*----------------------
          MAPA
-----------------------*/

    #hero {
      grid-area: hero;
      padding-top: 100px;
      .card-img-top{
        @include tamanio(100%,130px);
       }

       @each $nomMapa, $colorMapa in $mapas{
  
       .boton#{$nomMapa} {
         background-color: $colorMapa;
         font-size: 14px;
         color: black;
       }
      }
        .card-img-top {
        background-color: $color4;
        
      
    }
    .tituloServicios {
      position: relative;
      left: 3%;
    }
    /*titulo*/
    .tituloPages {
      @include tamanio(30%,10%);
      font-size: 25px;
      color: $color2;
      text-transform: uppercase;
      position: relative;
      padding: 15px;
      margin: 10px;
    }


/*----------------------
      formulario
-----------------------*/

/*----------------------
          EXTEND
-----------------------*/

    .CajaPadre1{
      @include tamanio(100%,50%);
        padding: 10px;
        margin: 10px; 
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: flex-start;
       }
    .form-Nombre {
      @include tamanio(40%,30%);
      
    }
    .form-Dni{
      @extend .form-Nombre;
     display: flex;
           flex-direction: column
     }
     .form-Tlf{
      @extend .form-Nombre;
     display: flex;
           flex-direction: column
     }
     .form-Email{
      @extend .form-Nombre;
     
     }
    .formDatos input {
      @include tamanio(80%,30%);
       border-color: transparent;
     border-bottom: 1px solid $color1;
     background-color: $color3;
    }
 
    .CajaPadre3{
      @extend .CajaPadre1;
      @include tamanio(100%,30%);
       flex-direction: row;
       justify-content: space-evenly;
       align-items: flex-start;
    }
    .enviar{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .enviar input {
         background-color: $color1;
         @include tamanio(30%,30%);
        }
}
/*--------------------------
        finFormulario
---------------------------*/

 /*-------------------------
        inicioLaterales
 -------------------------*/
    aside{
        grid-area: lateral;
        @include tamanio(100%,100%);
     /*userCarrito*/
     .userCarritoPages{
        display: flex;
        flex-direction: row;
      justify-content: center;
    }
    /*iniciomarcasYBusqueda*/
    .LogodeMcarcasPages{
      @include tamanio(30px,30px);
    }
    .logoMarcasYBusqueda{
            padding-top: 10%;
            padding-left: 10px;
            position: relative;
            right: 30%;
            background-color: $color3;
            .buscar{
                  @include tamanio(70%,10%);
                  .busquedaBuscar{
                  background-color: $color3;
                    border-color: $color2;
                  }
                  .botonBuscar{
                    background-color: $color1;
                      }
                  
                }
            }
        .marcasPadre{
          @include tamanio(40%,100%);
                position: relative;
                right: 60%;
                .imgMarcas{
                    position: relative;
                    right: 100%;
                    bottom: 40px;
                }
            }
        }
     /*finLateral/*
/*finBodyPages*/
}


}
/*finmediaQueriesDesktop*/